@font-face {
    font-family: 'Mosk';
    src: url('../assets//fonts/MoskUltra-Bold900.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'AgencyFB';
    src: url('../assets/fonts/agencyFB.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Caxo';
    src: url('../assets/fonts/Caxo.otf') format('truetype');
    font-display: swap;
}
